@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.screen {
  width: 80%;
  height: 4rem;
  background-color: #f2f2f2;
  color: #112a46;
  text-align: center;
  font-size: 1.5rem;
  line-height: 4rem;
  margin: 0 auto 3rem;
  font-family: "Inter", sans-serif;
}

.row-number {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 3rem;
  font-family: "Inter", sans-serif;
}

.row {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  position: relative;
}

.row.row-shift .empty-space,
.row.row-shift .seat,
.row.row-shift .seat-label {
  transform: translateX(1.625rem);
}

.seat {
  display: none;
}

.seat-label {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: #d9d9d9;
  color: #112a46;
  font-family: "Inter", sans-serif;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.seat-label.seat-selected {
  background-color: #158cf4;
  color: #f5f3f5;
}

.seat-label.seat-reserved {
  background-color: #d32f2f;
  color: #f5f3f5;
}

.seat-label.seat-premium {
  background-color: #2e7d32;
  color: #f5f3f5;
}

.seat-label.seat-disabled {
  cursor: default;
}

.empty-space {
  width: 3rem;
  height: 3rem;
}

.legend {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.75rem;
  font-family: "Inter", sans-serif;
}

.legend-item div {
  width: 1.75rem;
  height: 1.75rem;
}
